

.menu{
    position: fixed;
    top: 7.5rem;    
    height: calc(100vh - 7.5rem) ;
    width: var(--menu__screen-space--standard);
    background-color: var(--text__color--secondary);
    border: solid 2px var(--text__color);
    left: 0 ;
    transition: left 0.5s;
    overflow: scroll;
    padding-block: 3rem;
    z-index: 1;

    display: flex;
    flex-flow: column nowrap;
    padding: 2rem;

    @media screen and (width <= 400px) {
        width: var(--menu__screen-space--mobile);
    }
}

.slide{
    left: calc(var(--menu__screen-space--standard) * (-1));
    @media screen and (width <= 400px) {
        left: calc(var(--menu__screen-space--mobile) * (-1));
    }

}
.menu__tag--div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 10rem;
}

.menu__tag--container{
    display: flex;
    flex-flow: row wrap;
    gap:0.5rem;
    justify-content: center;
    align-items: center;
}

.tag.tag-menu {
    border: 0.3rem solid var(--text__color);
}

.tag.tag-menu h3{
    color: var(--text__color) !important;
    pointer-events: none;
    font-size: 80%;
}


.tag.tag-menu.selected {
    background-color: var(--text__color);
    border: 0.3rem solid var(--text__color--secondary);
}

.tag.tag-menu.selected h3{
    color: var(--text__color--secondary) !important;
    pointer-events: none;
}

.tag.tag-menu:hover{
    cursor: pointer;
}