@import url("./reset.css");
@import url("./header.css");
@import url(./variables.css);
@import url('https://fonts.googleapis.com/css2?family=Irish+Grover&display=swap');

*, FontAwesomeIcons{
    color: var(--text__color);
    font-family: "Irish Grover", system-ui;
}


.fake-button:hover{
    cursor: pointer;
}

.hidden{
    display: none;
}

