@import url("./reset.css");
@import url("./header.css");
@import url("./variables.css");
@import url("./recipePage.css");
@import url("./menu.css");
@import url("./errorPage.css");
@import url("./footer.css");
@import url("./newRecipePage.css");
@import url('https://fonts.googleapis.com/css2?family=Irish+Grover&display=swap');



.icons,
h1,
h2,
h3,
h4,
label,
input,select {
    color: var(--text__color);
    font-family: "Irish Grover", system-ui;
}


.fake-button:hover {
    cursor: pointer;
}

.hidden {
    display: none;
}

.recipe_container--message{
    margin-top: 8rem;
    
}
.error-input-new-recipe{
    color: red;
    font-size: 1.3rem;
    margin-top: -0.5rem;
    margin-bottom: 2rem;
}

.recipe_container {
    display: flex;
    flex-flow: column;
    gap: 2rem;
    min-height: 100vh;
    padding: 2rem;
    padding-block: 2rem 5rem;
    align-items: center;
    justify-content: center;

    @media screen and (width >= 768px) {
        flex-flow: row wrap;
        align-items: center;  
    }
}

.recipe_container--message {
    font-size: 3rem;
    justify-self: center;
    align-self: center;

    @media screen and (width < 400px) {
        font-size: 2rem;
    }
}



.recipe__instruction--title {
    margin-bottom: 1.5rem;
    text-decoration: underline;
}

.recipe__instruction--line {
    font-weight: lighter;
    margin-bottom: 1.5rem;
    font-size: 2rem;
}


.recipe__card--holder {
    position: relative;
    margin-inline: 8rem;
}

.recipe__card {

    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding-bottom: 1rem;
    align-items: center;
    border-radius: 2rem;
    padding-inline: 2rem;
    max-width: 30rem;



}

.recipe__card h2 {
    color: var(--text__color--secondary) !important;
    text-align: center;

    @media screen and (width < 400px) {
        font-size: 2rem;
    }
}

.recipe__card:hover {
    cursor: pointer;
}

.tag {
    border: 0.3rem solid var(--text__color--secondary);
    padding-block: 0.5rem;
    padding-inline: 2rem;
    border-radius: 5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.tag h3 {
    color: var(--text__color--secondary);
    font-size: 1.3rem;
}


.no-mouse-event {
    pointer-events: none;
}

.recipe__img {
    border-radius: 2rem;
    box-shadow: 0rem 0rem 1.5rem var(--text__color);
}


.recipe__title {
    text-decoration: underline;
}


.recipe__card--fav {
    font-size: 2rem;
    position: relative;
    position: absolute;
    right: -1rem;
    top: -1rem;
    background-color: var(--text__color);
    color: var(--text__color--secondary) !important;
    padding: 0.5rem;
    border-radius: 50%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
}

.recipe__card--fav:hover {
    color: red !important;
}

.recipe__card--fav.favorite {
    color: red !important;
}